%standard-input {
  height: $input-height;
  border: 1px solid $border-grey;
  border-radius: 3px;
  padding: 0 $input-padding;
  font-size: 14px;
}

%standard-button-inactive {
  height: $button-heigth;
  width: 200px;
  border: 1px solid $main-green;
  border-radius: 3px;
  color: $main-green;
  font-size: 14px;
  line-height: $button-heigth;
  text-align: center;
  &:hover {
    box-shadow: 1px 1px 3px $main-green;
  }
  &:active {
    box-shadow: inset -1px -1px 3px $main-green;
  }
}

%standard-button-active {
  height: $button-heigth;
  width: 200px;
  border: 1px solid $main-green;
  border-radius: 3px;
  color: #ffffff;
  background-color: $main-green;
  font-size: 14px;
  line-height: $button-heigth;
  text-align: center;
  &:hover {
    box-shadow: 1px 1px 3px $main-black;
  }
  &:active {
    box-shadow: inset -1px -1px 3px $main-black;
  }
}

%standard-hr {
  height: 3px;
  background-color: $main-green;
  margin-top: $section-margin;
}